.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #ddd;
}

.game-plate {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 552px;
  height: max-content;
  background-color: #BDBDBD;
  box-shadow: inset -4px -4px 2px 0 #4140404f, inset 4px 4px 2px #ffffffdb;
}

.table {
  box-shadow: inset 4px 4px 2px 0 #4140404f, inset -4px -4px 2px #ffffffdb;
}

.top-table {
  width: 520px;
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.game-field {
  padding: 4px;
  box-sizing: content-box;
  margin-top: 16px;
  width: 512px;
  height: 512px;
  display: flex;
  flex-wrap: wrap;
}

.counters {
  width: 78px;
  height: 46px;
  display: flex;
}

.point {
  width: 26px;
  height: 46px;
  background-size: cover;
}
